<!doctype html>
<html lang="en">

<head>
  <!-- Material design CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.amber-orange.min.css" />
  <link rel="stylesheet" href="/pub/css/header.css">
  <link rel="stylesheet" href="/pub/css/global.css">
  <link rel="stylesheet" href="/pub/css/editor.css">
  <link rel="icon" href="/pub/assets/logo_text.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <title>Sour Lemon - Article Editor</title>
</head>

<body>
  <div class="mdl-layout mdl-js-layout">

<div class="hidden" id="mid">{{mid}}</div>


    <header class="mdl-layout__header">
    </header>
    <div class="mdl-layout__drawer">
    </div>






    <main class="mdl-layout__content">
      <div class="page-content">
        <!-- Other than changes to the header, all content should go here -->
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
          </div>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
            <h4 class="index_text yellow section black_back">Article For {{movie}}</h4>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="title">
              <label class="mdl-textfield__label" for="title">Title</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
          </div>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
            <div id="editor">

            </div>
            <button id="publish" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Publish Your Article
            </button>
            <h4 class="user__title" id="prompt"></h4>
          </div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
          </div>
        </div>




      </div>
    </main>
  </div>



  <script type="text/javascript" src="/pub/scripts/header.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="/pub/scripts/editor.js"></script>
</body>

</html>
